*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  
  padding: 20px;
  padding-left: 100px;
}
p {
	border: 2px solid red;
}
img {
	border: 0.5px solid #000;
 	margin-left: 80px;
 	display: block;
  	max-width: 100%;
  	height: auto;
}

.get-div {
	display: flex;
	margin-bottom: 50px;
}

.get-input {
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
}
.get-input {
	font-size: 20px;
	padding-left: 20px;
	height: 50px;
	width: 400px;
	cursor: pointer;
	margin-right: 100px;
	border: 3px solid #000;
	border-radius: 10px;
}

.get-input:focus {
	border-color: blue;
	
}


.render-countries {	
	display: block;
	width: 700px;
}

.render-countries__list {
	display: flex;
}
.list-count {
	margin-left: 30px;
}
.list-count-el {
	font-weight: 700;
	font-size: 40px;
	padding-top: 15px;
}

.name__item {
	font-size: 60px;
	text-align: center;
	padding-left: 40px;
	margin-bottom: 20px;
}

.render-countries_info {	
	list-style-type: none;
	font-size: 20px;
	margin: 0;
	padding-top: 30px;
}
span {
	font-weight: 700;
}
	.render-countries_el:not(:last-child) {	
		margin-bottom: 10px;
	}
.tag-list {
	padding-inline-start: 0px
}
.tag-list_item {
	margin-left: 40px;
    padding-top: 10px;
}
